@model IEnumerable<UnPeu.Models.BranchEvent>

@{
    ViewBag.Title = "EventsByBranch";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var branch = ViewBag.branch;
}

<h2>EventsByBranch</h2>

<div class="row">
    <div class="col-md-4">
        <h2 id="eventName"></h2>
        <p id="eventDesc"></p>
        <h3 id="startTime"></h3>
        <a id="bookLink"></a>
    </div>
    <div class="col-md-8" id="calendar"></div>
</div>


@*<div id="calendar"></div>*@

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Branch.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Branch.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

@section scripts{
    <script src="~/Scripts/Calendar.js"></script>
    <script>
        $(document).ready(function () {
            var events = [];

            $.ajax({
                type: "GET",
                url: "/BranchEvents/GetEventsByBranch/@branch.Id",
                success: function (data) {
                    $.each(data, function (i, v) {
                        events.push({
                            eventId: v.Id,
                            title: v.EventType.Name,
                            description: v.EventType.Description,
                            start: moment(v.StartTime),
                            color: v.EventType.Color
                        })
                    });
                    generateCalendar(events);
                },
                error: function (error) {
                    alert("failed to get data");
                }
            })

        })
    </script>
    }
